Package: com.kdt.livecontainer
Name: livecontainer
Version: 3.2.61
Architecture: iphoneos-arm
Description: Run iOS app without actually installing it!
Maintainer: khanhduytran0
Author: khanhduytran0
Section: Utilities
