<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>LiveContainer</string>
	<key>CFBundleExecutable</key>
	<string>LiveContainer_PleaseDoNotShortenTheExecutableNameBecauseItIsUsedToReserveSpaceForOverwritingThankYou</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.kdt.livecontainer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LiveContainer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.2.61</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.kdt.livecontainer.urlscheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>livecontainer</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3.2.61</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>sidestore</string>
		<string>livecontainer</string>
		<string>livecontainer2</string>
		<string>livecontainer3</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSCameraUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSContactsUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSFallDetectionUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSGKFriendListUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSHealthRequiredReadAuthorizationTypeIdentifiers</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSHomeKitUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSIdentityUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSLocationDefaultAccuracyReduced</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSLocationUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSMotionUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSNearbyInteractionAllowOnceUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSNearbyInteractionUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSSensorKitUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSSiriUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>The guest app is requesting for this permission.</string>
	<key>SBAppUsesLocalNotifications</key>
	<integer>1</integer>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>external-accessory</string>
		<string>fetch</string>
		<string>location</string>
		<string>nearby-interaction</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchImageFile</key>
	<string>LaunchImage</string>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700-568h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-Portrait</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-Landscape</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-667h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 667}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-Portrait-736h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-Landscape-736h</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>GCSupportsControllerUserInteraction</key>
	<true/>
	<key>GCSupportedGameControllers</key>
	<array>
		<dict>
			<key>ProfileName</key>
			<string>DirectionalGamepad</string>
		</dict>
		<dict>
			<key>ProfileName</key>
			<string>ExtendedGamepad</string>
		</dict>
		<dict>
			<key>ProfileName</key>
			<string>MicroGamepad</string>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>All Files</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.item</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
